<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Forest Fire Prediction</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="/home/anushka/forestfire/website/templates/css/bootstrap.min.css" rel="stylesheet" />
<link href="/home/anushka/forestfire/website/templates/css/fancybox/jquery.fancybox.css" rel="stylesheet"> 
<link href="/home/anushka/forestfire/website/templates/css/flexslider.css" rel="stylesheet" /> 
<link href="/home/anushka/forestfire/website/templates/css/style.css" rel="stylesheet" />
<link href="/home/anushka/forestfire/website/templates/css/gallery-1.css" rel="stylesheet">
<link href="/home/anushka/forestfire/website/templates/css/magnific-popup.css" rel="stylesheet"> 
 <link href="/home/anushka/forestfire/website/templates/css/zoom.css" rel="stylesheet">



<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>

    .flex-caption {

        background-color: #928062ad;
    }


    .back_image{

        background-image:url('img/sports5.jpg');


    }

    ul#list_style li{

        padding:5px;
        margin:5px;
    }

    ul#list_style {
    list-style-type:square;
}

#floorplan img{

	border:1px solid black;
}

.gallery-item:hover .gallery-thumb .gallery-zoom {
   
    left: 55%;
}

input[type="text"]{

	width:90%;
	padding:5px;
	margin:7px;
    border:1px solid white;

}
input[type="submit"]{

	width:90%;
	padding:5px;
	margin:7px;
	background-color: #9adf3f;
    border:1px solid #9adf3f;
}
.well{

    background-color: #e6e6e6;
}

* {
    box-sizing: border-box;
}

.zoom {
   
    transition: transform .2s;
   
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
</style>

</head>
<body>
<div id="wrapper" class="home-page">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> 	  
      
        <p class="pull-right"><i class="fa fa-phone"></i>Call us @</p>
      </div>
    </div>
  </div>
</div>
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo" /></a>
                    <div style="margin-top: 60px;font-weight: 600;color:darkgreen">Forest Fire Prediction</div>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li> 
						 
						<li><a href="#call-to-action-2">Why Us</a></li>
                        <li><a href="#fi">Forest Area</a></li>
                        <li><a href="statistics.html">Statistics</a></li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="img/banner1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Forest Fire Prediction</h3> 
					<p>Save our forests</p> 
					 
                </div>
              </li>

              <li>
                <img src="img/banner2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>We Predict the loss</h3> 
                    <p>For Tress are Life</p> 
                     
                </div>
              </li>
              
             
            </ul>
        </div>
	<!-- end slider -->
 
	</section> 
	<section id="call-to-action-2">
		<div class="container">
			<div class="row">

				<center><h3>
					Why Should We Save Forest?
				</h3></center>
									
					<p style="text-align: center">Because trees absorb carbon dioxide and turn it into wood, where the carbon stays bound up for hundreds or even thousands of years, living forests are an important part of the earth's climate system. Growing trees soak up CO2 from the atmosphere and store it in their trunks, roots, leaves, and forest soils.</p><p style="text-align: center">
                    Forests also support the life of some of the world's endangered species. Forests play an important role in the purification of the atmospheric air. During the day, trees and plants absorb carbon dioxide for photosynthesis and give out oxygen. As such, they help in the purification of the air that we breathe.</p>
				
			</div>
		</div>
	</section> 				
					 

   <section id="fi" class="section-padding gray-bg">
        <div class="container">

            <div class="section-title text-center">
                        <h2>Forest Area Calculation</h2>                       
                    </div>

            <div class="col-md-2">
            </div>

            <div class="col-xs-12 col-md-8">

                <div class="col-md-12 col-xs-12">
               
                <div class="well">
                
                <form  method="POST">

                    <input type="text"  placeholder="FFMC" name="FFMC" value={{ffmc}}>
                    <input type="text"  placeholder="DMC"  name="DMC" value={{dmc}}>
                    <input type="text"  placeholder="DC" name="DC" value={{dc}}>
                    <input type="text"  placeholder="RH" name= "RH" value={{rh}}>
                    <input type="text"  placeholder="Wind" name="wind" value={{wind}}>
                    <input type="text"  placeholder="Temprature" name="temp" value={{temp}}>
                    <input type="text"  placeholder="ISI" name="ISI" value={{isi}}>
                    <input type="submit" name="submit" value="Calculate Area">
                     <input type="text" name="message" placeholder="Area" value={{area}}>

                </form>
            </div>
            </div>

   
</div>

 <div class="col-md-2">
            </div>
</div>
</section>









	<footer id="contact">
	
	
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; WE'RE THE WINNERS</span><a href="http://webthemez.com/free-bootstrap-templates/" target="_blank"></a>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>  
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<!-- Vendor Scripts -->
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script> 
</body>
</html>
